USE [QuizGame]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuestions]    Script Date: 04-04-2024 14:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create or ALTER PROCEDURE [dbo].[sp_GetQuestions](@Category nvarchar(50) , @UserID nvarchar(50) , @NumberOfQuestion int  )
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here

	DECLARE @TempQuestionTable TABLE (
    TempID INT PRIMARY KEY IDENTITY(1,1),
    QuestionID INT,
    FOREIGN KEY (QuestionID) REFERENCES QuestionTable(QuestionId)
	);

	INSERT INTO @TempQuestionTable (QuestionID)
	SELECT QuestionID 
	FROM QuestionTable 
	WHERE Category = @Category;

	DECLARE @LowerRange int ;
	DECLARE @HigherRAnge int ;
	SET @LowerRange  = 1 ;
	SELECT @HigherRAnge = COUNT(*) FROM @TempQuestionTable;

	DECLARE @Questionlist TABLE (
    QuestionId int NOT NULL,
	Question nvarchar(255) Not NULL,
	OptionOne varchar(50) NOT NULL,
	OptionTwo varchar(50) NOT NULL,
	OptionThree varchar(50) NOT NULL,
	OptionFour varchar(50) NOT NULL,
	Answer nvarchar(50) NOT NULL
	);

	DECLARE @ListCount int;
	SELECT @ListCount = COUNT(*) FROM @Questionlist;

	while(@ListCount < @NumberOfQuestion )
	BEGIN
		DECLARE @RandomQId int ;
		SET @RandomQId = FLOOR(@LowerRange + RAND()*(@HigherRAnge - @LowerRange + 1));
		DECLARE @TempQuestionId int;
		SELECT @TempQUestionId = QuestionID FROM @TempQuestionTable WHERE TempID = @RandomQId;
		IF NOT EXISTS (SELECT * FROM @Questionlist WHERE QuestionId = @TempQUestionId)
		BEGIN
			INSERT INTO @Questionlist (QuestionId,Question,OptionOne,OptionTwo,OptionThree,OptionFour,Answer) SELECT QuestionId,Question,OptionOne,OptionTwo,OptionThree,OptionFour,Answer from Questiontable where QuestionId = @TempQuestionId ;
		END

	END
	 RETURN select * from @Questionlist ;
				
END


